*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', Arial, sans-serif ;
}
:root {
  --bg-light: #f5f7fa;
  --bg-dark: #1c1f26;
  --card-light: #ffffff;
  --card-dark: #2a2f39;
  --accent: #4f8cff;
  --accent-hover: #3a6fd4;
  --text-light: #1c1f26;
  --text-dark: #e3e6ec;
}
body {
    background: var(--bg-dark);
    color: var(--text-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contaner {
    display: flex;
    flex-direction: column;
    background: var(--card-dark);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.301);
    width: 400px;
    height: fit-content;
}
.contaner h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contaner input {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    background: var(--bg-dark);
    color: var(--text-dark);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.301);
    transition: all 0.3s ease-in-out;
}
.contaner input:focus {
    border: 1px solid var(--accent);
}
.contaner button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background: var(--accent);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.301);
    transition: background 0.3s ease;
}
.contaner button:hover {
    background: var(--accent-hover);
    transition: background 0.3s ease;
}
.contaner p {
    text-align: center;
    margin-top: 10px;
    color: var(--text-dark);
}
.contaner a {
    color: var(--accent);
    text-decoration: none;
}
.contaner a:hover {
    text-decoration: underline;
}
.contaner label {
    font-weight: 500;
    font-size: 18px;
}
.contaner .err{
    color: rgb(255, 12, 12);
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}
.contaner .socil {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contaner .socil a {
    text-decoration: none;
    font-size: 24px;
    color: var(--text-dark);
    transition: color 0.3s ease;
}
.contaner .socil a:hover {
    color: var(--accent-hover);
    transition: color 0.3s ease;
}